/*Header section*/
header {
  /*position & display*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*styling*/
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
/*nested in header*/
/*left side*/
header img {
  margin: 15px;
}
header a.header {
  color: MediumAquamarine;
}
/*right side*/
header nav {
  margin-left: auto;
  margin-right: 50px;
}
header nav a {
  margin: 10px;
  text-decoration: none;
}
/*end of header section*/

/*main section*/
main {
  /*position and display*/
  position:absolute;
  top: 100px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
/*1st level nesting in main*/
main div.column {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.column.large {
  flex-basis: 630px;
  flex-grow: 3;
  flex-shrink: 1;
}

.column.medium {
  flex-basis: 300px;
  flex-grow: 2;
  flex-shrink: 2;
}

.column.small {
  flex-basis: 240px;
  flex-grow: 1;
  flex-shrink: 3;
}

.column div {
  border: 1px solid black;
  padding: 10px;
  margin-top: 15px;
}

main p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}